<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>姿态分析展示平台</title>
    <link rel="shortcut icon" th:href="@{/webGL/TemplateData/favicon.ico}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script><!-- 引入vue框架 -->
    <!--<script src="https://cdn.WebRTC-Experiment.com/RecordRTC.js"></script>-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script><!-- 引入element组件库 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"><!-- 引入element样式 -->
    <script th:src="@{/js/common/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/common/jquery.runner.js}"></script> <!-- jquery计时器插件 -->
    <script th:src="@{/webGL/Receiver2D/TemplateData/UnityProgress.js}"></script>
    <script th:src="@{/webGL/Receiver2D/Loader/UnityLoader.js}"></script>
    <link rel="stylesheet" th:href="@{/webGL/Receiver2D/TemplateData/style.css}">

    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script><!--引入echarts组件-->
    <script src="https://cdn.jsdelivr.net/npm/v-charts/lib/index.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/v-charts/lib/style.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/global.scss}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script type="text/javascript" th:src="@{/js/common/stomp.js}"></script>
    <script th:src="@{/js/components/DataBox.js}"></script><!-- 引入DataBox组件 -->
    <script th:src="@{/js/components/Common.js}"></script><!-- 引入组件 -->
    <script th:src="@{/js/components/Exercise.js}"></script><!-- 用于健身指导功能的全部组件 -->
    <script th:src="@{/js/components/Dance.js}"></script><!-- 用于动画舞蹈的全部组件 -->
</head>
<style th:inline="css">
    .header {
        width: 100%;
        height: 160px;
        padding: 0 20px;
    }
    .bg-header {
        width: 100%;
        height: 100%;
        background: url("[[@{/img/title.png}]]") no-repeat;
        background-size: 100% 100%;
    }
    .t-title {
        width: 100%;
        height: 50%;
        text-align: center;
        font-size: 2em;
        line-height: 80px;
        color: #fff;
    }
    .data-page{
        background: url("[[@{/img/background.png}]]") no-repeat;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 1100px;
        min-width: 1220px;
        background-size:100% 100%;
    }
    .data-content {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .data-main {
        width: calc(100% - 40px);
        margin-bottom: 40px;
        margin-left: 20px;
        height: 720px;}

    .main-left{
        width: 24%;
        float: left;
    }
    .main-center{
        float: left;
        width: 52%;
        padding: 0 20px 0 20px;
    }
    .main-right{
        float: left;
        width: 24%;
    }


</style>
<body>
<div class="data-page" id="exercise2D">
    <el-menu style="border-bottom: none" :default-active="'2'" class="el-menu-demo" mode="horizontal" background-color="black" text-color="#fff" active-text-color="#ffd04b">
        <el-menu-item index="1"><a th:href="@{/free}">自由锻炼</a></el-menu-item>
        <el-submenu index="2">
            <template slot="title">康复健身</template>
            <el-menu-item index="exercise2D"><a th:href="@{/realTime2D}">实时2D</a></el-menu-item>
            <el-menu-item index="exercise3D"><a th:href="@{/offLine3D}">离线3D</a></el-menu-item>
        </el-submenu>
    </el-menu>

    <div class="header">
        <div class="bg-header">
            <div class="t-title">Pose Estimation</div>
            <div class="t-title">实时2D康复健身</div>
        </div>
    </div>
    <div class="data-content">

        <div class="data-main">
            <div class="main-left">
                <data-box :title="''" :dheight="800">
                    <data-box :title="'训练用时统计'" :dheight="100" :boxb="false">
                        <div style="text-align: center">
                            <span id="runner" style="font-size: 50px; color: white"></span>
                        </div>
                    </data-box>
                    <data-box :title="'动作完成情况统计'" :dheight="300" :boxb="false">
                        <ve-waterfall :data="charts.completeStatus.data" :extend="charts.completeStatus.extend"height="100%"></ve-waterfall>
                    </data-box>
                    <data-box :title="'Unity人物模型动作跟随画面'" :dheight="378" :boxb="false">
                        <div id="gameContainer" style="width: 100%; height: 100%"></div>
                    </data-box>
                </data-box>
            </div>

            <div class="main-center">
<!--                <data-box :title="'动作参数展示区'" :dheight="300">-->
<!--                    <el-card class="box-card">-->
<!--                        <div v-for="item in selectedMove.motionList">-->
<!--                            <img :src="item.motionImage" height="100%">-->
<!--                            <div class="text item">-->
<!--                                弯曲角度：{{item.rotateAngle}}-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </el-card>-->
<!--                </data-box>-->
                <data-box :title="'实时估计画面'" :dheight="500">
                    <div style="text-align: center;width: 100%; height: 100%;">
                        <img id="targetImg" style="width: 100%; height: 100%;"/>
                    </div>
                    <video style="width: 100%; height: 100%;visibility:hidden;" autoplay></video>
                </data-box>
                <data-box :title="''" :dheight="290" style="margin-top: 10px">
                    <data-box :title="'训练效率'" :dheight="290" :boxb="false" style="width: 33%; float: left; text-align: center">
                        <ve-gauge height="100%" :data="charts.trainingEfficiency.data" :settings="charts.trainingEfficiency.settings"></ve-gauge>
                    </data-box>
                    <data-box :title="'损伤风险'" :dheight="290" :boxb="false" style="width: 33%; float: left; text-align: center">
                        <ve-gauge height="100%" :data="charts.injuryRisk.data" :settings="charts.injuryRisk.settings"></ve-gauge>
                    </data-box>
                    <data-box :title="'动作余弦相似度'" :dheight="290" :boxb="false" style="width: 33%; float: left; text-align: center">
                        <ve-radar :data="charts.cosineSimilarity.data" :extend="charts.cosineSimilarity.extend" :legend-visible="false" height="100%"></ve-radar>
                    </data-box>
                </data-box>
            </div>

            <div class="main-right">
                <data-box :title="''" :dheight="800">
                    <data-box :title="'控制面板'" :dheight="100" :boxb="false">
                        <div style="margin-top: 5px;margin-left: 10px">
                            <el-button type="success" @click="drawer.isActive = true"><span>选择训练计划</span></el-button>
                            <el-button :type="button2.buttonType" @click="changeTrans"><span v-if="button2.enable">结束训练</span><span v-if="!button2.enable">开始训练</span></el-button>
                        </div>
                    </data-box>
                    <data-box :title="'训练指导建议'" :dheight="150" :boxb="false">
                        <div style="color: white; margin-left: 10px; font-size: 20px">
                            <div>所选训练动作：<span style="font-weight: bold">{{selectedMove.movetypeName}}</span></div>
                            <div>需要进行<span style="font-weight: bold">{{selectedMove.groupsPerRepeat}}</span> 组，
                                每组<span style="font-weight: bold">{{selectedMove.timesPerGroup}}</span>次，
                                每组间隔<span style="font-weight: bold">{{selectedMove.restBetweenGroup}}</span>s</div>
                            <div v-if="trainingAdvice.isActive">
                                <div>当前正在进行第<span style="font-weight: bold">{{trainingAdvice.currentGroup}}</span>组，
                                    已完成了<span style="font-weight: bold">{{trainingAdvice.finishedTime}}</span>次</div>
                                <div>当前运动状态：</div>
                                <div style="font-weight: bold">{{trainingAdvice.currentMoveState}}</div>
                            </div>
                        </div>
                    </data-box>

                    <data-box :title="'上肢波动曲线'" :dheight="275" :boxb="false">
                        <ve-line height="100%" :extend="charts.bodyFluctuate.extend" :data="charts.bodyFluctuate.data" :settings="charts.bodyFluctuate.settings"></ve-line>
                    </data-box>
                    <data-box :title="'下肢波动曲线'" :dheight="275" :boxb="false">
                        <ve-line height="100%" :extend="charts.bodyFluctuate.extend" :data="charts.bodyFluctuate.data" :settings="charts.bodyFluctuate.settings"></ve-line>
                    </data-box>
<!--                    <data-box :title="'摄像头实时画面'" :dheight="400" :boxb="false">-->
<!--                        <video style="width: 100%; height: 100%" autoplay></video>-->
<!--                        <canvas id="targetCanvas" width="400px" height="300px" style="visibility:hidden;"></canvas>-->
<!--                    </data-box>-->
                </data-box>

                <el-dialog title="提示"
                        :visible.sync="trainingAdvice.perGroupDialog"
                        width="30%">
                    <h2>单组训练已完成，请休息一下</h2>
                    <h2>倒计时：{{trainingAdvice.time}}</h2>
                </el-dialog>
            </div>
        </div>
    </div>

    <!--    训练计划选择抽屉-->
    <el-drawer :visible.sync="drawer.isActive" direction="rtl">
        <h3 style="margin-left: 10%; font-weight: bold">训练计划选择菜单</h3>
        <el-select v-model="trainingId" placeholder="选择用户训练计划" style="margin-left: 10%; margin-top: 10px">
            <el-option v-for="item in trainingList" :label="item.name" :value="item.trainingId"></el-option>
        </el-select>
        <div style="float: left; overflow: auto; height: 55%; margin-top: 10px" >
            <el-card class="box-card" v-for="item in training.moveList" style="width: 60%; margin-left: 10%; ">
                <el-radio v-model="selectedMoveId" :label="item.moveInstanceId"><span style="font-weight: bold; font-size: 20px">{{item.movetypeName}}</span></el-radio>
                <img :src="item.moveImage" style="width: 100%">
            </el-card>
        </div>

    </el-drawer>
</div>

<script type="text/javascript" th:inline="javascript">

    var destination, login, passcode, userToken;
    url = "ws://10.103.238.165:61614";
    destination = "/queue/realTime2DInput";
    login = "admin";
    passcode = "password";
    userToken = "36";

    var pointMapping = { //关节点映射表，由于识别关节点和Unity关节点不同，因此需要进行转换
        "0": 10,
        "1": 8,
        "2": 11,
        "3": 12,
        "4": 13,
        "5": 14,
        "6": 15,
        "7": 13,
        "8": 4,
        "9": 5,
        "10": 6,
        "11": 1,
        "12": 2,
        "13": 16
    };

    const moveStateMapping = {
        0:"准备阶段，请摆出准备姿态",
        1:"运动阶段，请开始运动达到预期姿态",
        2:"保持阶段，请保持该姿态",
        3:"恢复阶段，请恢复到准备姿态",
        4:"单次动作训练完成！",
    };

    var client = Stomp.client(url); //TODO 暂时关闭

    var stompOnMessage = function (message) {
        let jsonData = JSON.parse(message.body); //接收数据JSON示例：{'image':'', 'poseResultParsed':''}
        // if (jsonData.poseResultParsed) {
        //     let poseArray = JSON.parse(jsonData.poseResultParsed); //单帧二维坐标点数据
        //     // for(let i = 0; i < poseArray.length;i ++){ //TODO 多人场景？
        //     //
        //     // }
        //
        //     let singlePerson = poseArray[0]; //singlePerson是个JSON对象，key为关节点index值，value为横纵坐标以及置信度所组成的JSON对象
        //
        //     let singleArray = [];
        //     for (let key in singlePerson) {
        //         exercise2D.poseData[key] = singlePerson[key].c; //填充置信度信息
        //         if (pointMapping[key]) { //进行映射之后的关节点index，如果在定义范围内则进行写入（注意14以后的坐标点都没有用到）
        //             singleArray.push(pointMapping[key]);
        //             singleArray.push(singlePerson[key].x - 150);
        //             singleArray.push(400 - singlePerson[key].y);
        //
        //         }
        //     }
        //     if (singleArray) { //数据不为空
        //         console.log(singleArray.toString());
        //         exercise2D.gameInstance.SendMessage("Philip", "GetPose", singleArray.toString()); //调用Unity内部方法，将姿态数据传入
        //     }
        // }
        if(jsonData.image){
            let img = document.getElementById("targetImg");
            img.src = jsonData;
        }
        if(jsonData.moveStage){
            let moveStage = parseInt(jsonData.moveStage);
            console.log("服务器传来的运动状态标记：" + moveStage);
            exercise2D.trainingAdvice.currentMoveState = moveStateMapping[moveStage];
            if(moveStage === 4){
                exercise2D.trainingAdvice.finishedTime ++; //动作已完成次数加一
            }
        }

    };

    var stompOnError = function (error) {
        alert(error);
        console.log("Stomp连接出错！" + error);
    };

    // the client is notified when it is connected to the server. TODO 暂时关闭
    client.connect(login, passcode, function (frame) {
        client.subscribe("/user/" + userToken + "/realTime2DOutput", stompOnMessage);
    }, stompOnError);


    var exercise2D = new Vue({
        el:'#exercise2D',
        data:{
            gameInstance:'',
            sendMsg:{
                userToken:'123',
                image:'',
                task:1
            },
            myTimer:'', //定时器
            poseData:{},
            trainingList:[], //该用户的所有训练计划
            trainingId:'', //用户选择的训练计划ID
            training:{}, //用户选择的训练计划
            selectedMoveId:'', //用户选择的动作ID
            selectedMove:{
                movetypeName:'', //动作名称
                moveInstanceId:'', //动作ID
                groupsPerRepeat:'', //重复几组
                timesPerGroup:'', //每组重复几次
                restBetweenGroup:'' //每组间休息时间
            }, //用户选择的动作
            button2:{ //开始（停止）训练按钮
                enable:false,
                buttonType:'success',
            },
            trainingAdvice:{
                isActive: true, //是否可见，训练未开始时不可见
                currentGroup:'', //当前第几组
                finishedTime:'', //已完成了多少次
                currentMoveState:'', //当前运动状态
                perGroupDialog: false, //单组训练完成时的对话框显示
                time:'' //剩余休息时间（用于倒计时）
            },
            drawer:{  //训练计划选择抽屉
                isActive: false,
            },
            charts:{
                completeStatus:{
                    data:{
                        columns: ['完成状态', '次数'],
                        rows: [
                            { '完成状态': '标准', '次数': 4 },
                            { '完成状态': '尚可', '次数': 10 },
                            { '完成状态': '不合格', '次数': 5 }
                        ]
                    },
                    extend:{
                        legend: {
                            textStyle: {color: '#fff'},
                        },
                        grid: {
                            textStyle: {
                                color: "#fff"
                            },
                            height:190
                        },
                        xAxis: {
                            axisLine: {
                                lineStyle: {
                                    color: '#fff'
                                }
                            }
                        },
                        yAxis: {
                            axisLine: {
                                lineStyle: {
                                    color: '#fff'
                                }
                            }
                        }

                    }
                },
                cosineSimilarity:{
                    data:{
                        columns: ['名称', '左大臂-小臂','右大臂-小臂','左胯-大腿','右胯-大腿','左大腿-小腿','右大腿-小腿'],
                        rows: [
                            { '名称':'余弦相似度', '左大臂-小臂': 97, '右大臂-小臂': 50, '左胯-大腿': 60,'右胯-大腿': 70, '左大腿-小腿': 80, '右大腿-小腿': 91},
                        ]
                    },
                    extend:{
                        radar:{
                            radius: "60%"
                        },
                        indicator: [
                            { name: '左大臂-小臂', max: 100 },
                            { name: '右大臂-小臂', max: 100 },
                            { name: '左胯-大腿', max: 100 },
                            { name: '右胯-大腿', max: 100 },
                            { name: '左大腿-小腿', max: 100 },
                            { name: '右大腿-小腿', max: 100 }
                        ],
                    }
                },
                bodyFluctuate:{
                    settings:{
                        metrics: ['Left', 'Right'],
                        dimension: ['time']
                    },
                    data:{
                        columns: ['time', 'Left', 'Right'],
                        rows: [
                            { 'time': '1/1', 'Left': 1393, 'Right': 1093},
                            { 'time': '1/2', 'Left': 3530, 'Right': 3230},
                            { 'time': '1/3', 'Left': 2923, 'Right': 2623},
                            { 'time': '1/4', 'Left': 1723, 'Right': 1423},
                            { 'time': '1/5', 'Left': 3792, 'Right': 3492},
                            { 'time': '1/6', 'Left': 4593, 'Right': 4293}
                        ]
                    },
                    extend: {
                        legend: {
                            textStyle: {color: '#fff'},
                        },
                        grid: {
                            textStyle: {
                                color: "#fff"
                            },
                            height:125
                        },
                        xAxis: {
                            axisLine: {
                                lineStyle: {
                                    color: '#fff'
                                }
                            }
                        },
                        yAxis: {
                            axisLine: {
                                lineStyle: {
                                    color: '#fff'
                                }
                            }
                        }
                    },
                },
                trainingEfficiency:{
                    data:{
                        columns: ['type', 'value'],
                        rows: [
                            { type: '训练效率', value: 80}
                        ]
                    },
                    settings:{
                        seriesMap:{
                            '训练效率':{
                                center:["50%", "50%"],
                                radius:"100%",
                                axisLine: {
                                    show: true,
                                    lineStyle: { // 属性lineStyle控制线条样式
                                        color: [ //表盘颜色
                                            [ 0.5, "#DA462C" ],//0-50%处的颜色
                                            [ 0.7, "#FF9618" ],//51%-70%处的颜色
                                            [ 0.9, "#FFED44" ],//70%-90%处的颜色
                                            [ 1, "#20AE51" ]//90%-100%处的颜色
                                        ],
                                        shadowColor: '#fff',
                                        hadowBlur: 10
                                    }
                                }
                            }
                        }
                    }
                },
                injuryRisk:{
                    data:{
                        columns: ['type', 'value'],
                        rows: [
                            { type: '损伤风险', value: 20}
                        ]
                    },
                    settings:{
                        seriesMap:{
                            '损伤风险':{
                                min:0,
                                max:80,
                                center:["50%", "50%"],
                                radius:"100%",
                                axisLine: {
                                    show: true,
                                    lineStyle: { // 属性lineStyle控制线条样式
                                        color: [ //表盘颜色
                                            [ 0.5, "#20AE51" ],//0-50%处的颜色
                                            [ 0.7, "#FFED44" ],//51%-70%处的颜色
                                            [ 0.9, "#FF9618" ],//70%-90%处的颜色
                                            [ 1, "#DA462C"]//90%-100%处的颜色
                                        ],
                                        shadowColor: '#fff',
                                        hadowBlur: 10
                                    }
                                }
                            }
                        }
                    }
                }
            },
        },
        mounted: function(){
            $('#runner').runner({  //计时器
                autostart: false, //是否自动开始
                milliseconds: false,  //是否显示毫秒表
                format: function millisecondsToString(milliseconds) {
                    var oneHour = 3600000;
                    var oneMinute = 60000;
                    var oneSecond = 1000;
                    var seconds = 0;
                    var minutes = 0;
                    var hours = 0;
                    var result;

                    if (milliseconds >= oneHour) {
                        hours = Math.floor(milliseconds / oneHour);
                    }

                    milliseconds = hours > 0 ? (milliseconds - hours * oneHour) : milliseconds;

                    if (milliseconds >= oneMinute) {
                        minutes = Math.floor(milliseconds / oneMinute);
                    }

                    milliseconds = minutes > 0 ? (milliseconds - minutes * oneMinute) : milliseconds;

                    if (milliseconds >= oneSecond) {
                        seconds = Math.floor(milliseconds / oneSecond);
                    }

                    milliseconds = seconds > 0 ? (milliseconds - seconds * oneSecond) : milliseconds;

                    if (hours > 0) {
                        result = (hours > 9 ? hours : "0" + hours) + ":";
                    } else {
                        result = "00:";
                    }

                    if (minutes > 0) {
                        result += (minutes > 9 ? minutes : "0" + minutes) + ":";
                    } else {
                        result += "00:";
                    }

                    if (seconds > 0) {
                        result += (seconds > 9 ? seconds : "0" + seconds);
                    } else {
                        result += "00";
                    }

                    return result;
                }
            });
            let unityUrl = /*[[@{/webGL/Receiver2D/Loader/Receiver2D.json}]]*/ 'Sebastian';
            this.gameInstance = UnityLoader.instantiate("gameContainer", unityUrl, {onProgress: UnityProgress});
            this.getTrainingPlan();

            this.initCamera(); //初始化摄像头

            // this.initWebSocket(); //初始化WebSocket


        },
        computed:{
            getFinishedTime:function () {
                return this.trainingAdvice.finishedTime;
            },
            getCurrentGroup: function () {
                return this.trainingAdvice.currentGroup;
            }
        },
        watch:{
            trainingId: function (newVal) { //筛选出符合条件的训练计划
                this.training = this.trainingList.filter(function (item) {
                     return item.trainingId === newVal;
                })[0];
            },
            selectedMoveId: function(newVal) { //监听用户选择的动作
                this.selectedMove = this.training.moveList.filter(function(item){
                    return item.moveInstanceId === newVal;
                })[0];
            },
            getFinishedTime: function (newVal) {
                if(newVal >= this.selectedMove.timesPerGroup){
                    this.trainingAdvice.currentGroup ++;
                    this.trainingAdvice.finishedTime = 0;
                }
            },
            getCurrentGroup: function (newVal) {
                if(newVal >= this.selectedMove.groupsPerRepeat){
                    this.finishedTraining();
                }else if (newVal >= 2){
                    this.finishedSingleGroup();
                }
            }
        },
        methods:{
            getTrainingPlan:function(){ //拉取该用户的所有训练计划
                let _this = this;
                let postUrl = /*[[@{/api/getTrainingFromJson}]]*/ 'Sebastian';
                $.ajax({
                    url: postUrl,
                    dataType: 'json',
                    contentType : 'application/json',
                    data: JSON.stringify({
                        userId: 36
                    }),
                    type: 'POST',
                    success: function (data) {
                        _this.trainingList = data.trainingList;
                    },
                    error: function () {
                        console.log("用户训练计划拉取失败！")
                    }
                });
            },
            initCamera:function(){
                let _this = this;
                let constraints = { video: true };
                let video = document.querySelector('video');
                navigator.mediaDevices.getUserMedia(constraints)
                    .then(function(mediaStream) {
                        video.srcObject = mediaStream;
                    })
                    .catch(function(err) { console.log(err.name + ": " + err.message); }); // 总是在最后检查错误
            },
            transImage: function (video) {
                let _this = this;
                let canvas = document.createElement('canvas')
                // let canvas = document.getElementById('targetCanvas');
                let scale = 1; //缩放比例
                canvas.width = video.videoWidth * scale;
                canvas.height = video.videoWidth * scale;
                canvas.getContext('2d').drawImage(video, 0, 0, video.videoWidth, video.videoHeight);
                let image = canvas.toDataURL('image/jpeg');
                if (image != null) {
                    client.send(destination, {'userToken': userToken, 'task': 0x01, 'time': new Date().getTime(), 'moveId': _this.selectedMoveId}, image); //发送消息
                }
            },
            change:function(){ //控制WebGL激活/禁用脚本
                this.gameInstance.SendMessage("Philip", "ChangeState");
                console.log("脚本状态改变！");
                this.button.enable = !this.button.enable;
                if(this.button.enable){
                    this.button.buttonType = 'danger';

                }else{
                    this.button.buttonType = 'success';
                }
            },
            changeTrans:function () { //按钮调用，用于开启或终止训练
                let _this = this;
                _this.trainingAdvice.isActive = true; //使得训练建议可见
                _this.trainingAdvice.currentGroup = 1;
                _this.trainingAdvice.finishedTime = 0;
                _this.button2.enable = !_this.button2.enable;
                if(_this.button2.enable){
                    _this.button2.buttonType = 'danger';
                    _this.myTimer = setInterval(function(){
                        _this.transImage(document.querySelector('video'));
                    }, 500); //100ms发送一次
                    $('#runner').runner('reset'); //计时器重置
                    $('#runner').runner('start'); //计时器开始计时
                } else {
                    _this.finishedTraining();
                }
            },
            finishedSingleGroup: function() { //完成单次训练时的回调函数
                let _this = this;
                clearInterval(_this.myTimer); //停止图像传输
                _this.trainingAdvice.time = _this.selectedMove.restBetweenGroup;
                _this.trainingAdvice.perGroupDialog = true; //弹出对话框提示
                let timer = setInterval(function() {
                    if(_this.trainingAdvice.time > 0){
                        _this.trainingAdvice.time --;
                    }else{ //倒计时结束
                        _this.trainingAdvice.perGroupDialog = false; //关闭对话框提示
                        clearInterval(timer);
                        _this.myTimer = setInterval(function(){
                            _this.transImage(document.querySelector('video'));
                        }, 100); //重新开启图像传输
                    }
                }, 1000);
            },
            finishedTraining:function () { //完成全部训练时的回调函数
                let _this = this;
                clearInterval(_this.myTimer); //停止图像传输
                $('#runner').runner('stop'); //计时器停止计时
                _this.button2.buttonType = 'success';
                _this.trainingAdvice.isActive = false; //关闭训练建议可见
                _this.$notify({
                    title: '辛苦了！',
                    message: '该动作训练已全部完成',
                    type: 'success'
                });
            },

        },
        components:{
            dataBox:DataBox,
            dataBoard: DataBoard, //用于健身指导的数据面板（左）
            record:Record, //用于动画舞蹈的录制面板（左）
            exeIntro:ExeIntro, //健身指导介绍（底部）
            danceIntro: DanceIntro //动画舞蹈介绍（底部）
        }
    })
</script>
</body>
</html>
