<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>姿态分析展示平台</title>
    <link rel="shortcut icon" th:href="@{/webGL/TemplateData/favicon.ico}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script><!-- 引入vue框架 -->
    <!--<script src="https://cdn.WebRTC-Experiment.com/RecordRTC.js"></script>-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script><!-- 引入element组件库 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"><!-- 引入element样式 -->
    <script th:src="@{/js/common/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/common/jquery.runner.js}"></script> <!-- jquery计时器插件 -->
    <script th:src="@{/webGL/NewPoseV3/TemplateData/UnityProgress.js}"></script>
    <script th:src="@{/webGL/NewPoseV3/Loader/UnityLoader.js}"></script>
    <link rel="stylesheet" th:href="@{/webGL/NewPoseV3/TemplateData/style.css}">
<!--    <script th:src="@{/webGL/Demo/TemplateData/UnityProgress.js}"></script>-->
<!--    <script th:src="@{/webGL/Demo/Loader/UnityLoader.js}"></script>-->
<!--    <link rel="stylesheet" th:href="@{/webGL/Demo/TemplateData/style.css}">-->

    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script><!--引入echarts组件-->
    <script src="https://cdn.jsdelivr.net/npm/v-charts/lib/index.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/v-charts/lib/style.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/global.scss}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script type="text/javascript" th:src="@{/js/common/stomp.js}"></script>
    <script th:src="@{/js/components/DataBox.js}"></script><!-- 引入DataBox组件 -->
    <script th:src="@{/js/components/Common.js}"></script><!-- 引入组件 -->
    <script th:src="@{/js/components/Exercise.js}"></script><!-- 用于健身指导功能的全部组件 -->
    <script th:src="@{/js/components/Dance.js}"></script><!-- 用于动画舞蹈的全部组件 -->
</head>
<style th:inline="css">
    .header {
        width: 100%;
        height: 160px;
        padding: 0 20px;
    }
    .bg-header {
        width: 100%;
        height: 100%;
        background: url("[[@{/img/title.png}]]") no-repeat;
        background-size: 100% 100%;
    }
    .t-title {
        width: 100%;
        height: 50%;
        text-align: center;
        font-size: 2em;
        line-height: 80px;
        color: #fff;
    }
    .data-page{
        background: url("[[@{/img/background.png}]]") no-repeat;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 1250px;
        min-width: 1220px;
        background-size:100% 100%;
    }
    .data-content {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .data-main {
        width: calc(100% - 40px);
        margin-bottom: 40px;
        margin-left: 20px;
        height: 720px;}

    .main-left{
        width: 25%;
        float: left;
    }
    .main-center{
        float: left;
        width: 50%;
        padding: 0 20px 0 20px;
    }
    .main-right{
        float: left;
        width: 25%;
    }


</style>
<body>
<div class="data-page" id="exercise">
<!--    <el-menu style="border-bottom: none" :default-active="'2'" class="el-menu-demo" mode="horizontal" background-color="black" text-color="#fff" active-text-color="#ffd04b">-->
<!--        <el-menu-item index="1"><a th:href="@{/free}">自由锻炼</a></el-menu-item>-->
<!--        <el-submenu index="2">-->
<!--            <template slot="title">康复健身</template>-->
<!--            <el-menu-item index="exercise"><a th:href="@{/realTime2D}">实时2D</a></el-menu-item>-->
<!--            <el-menu-item index="exercise3D"><a th:href="@{/offLine3D}">离线3D</a></el-menu-item>-->
<!--        </el-submenu>-->
<!--    </el-menu>-->

    <div class="header">
        <div class="bg-header">
            <div class="t-title">Pose Estimation</div>
            <div class="t-title">实时康复健身指导</div>
        </div>
    </div>
    <div class="data-content">

        <div class="data-main">
            <div class="main-left">
                <data-box :title="''" :dheight="980">
                    <data-box :title="'训练用时统计'" :dheight="108" :boxb="false">
                        <div style="text-align: center">
                            <span id="runner" style="font-size: 50px; color: white"></span>
                        </div>
                    </data-box>
                    <data-box :title="'动作完成情况统计'" :dheight="350" :boxb="false">
                        <ve-waterfall :data="charts.completeStatus.data" :extend="charts.completeStatus.extend"height="100%"></ve-waterfall>
                    </data-box>
                    <data-box :title="'Unity人物模型动作跟随画面'" :dheight="500" :boxb="false">
                        <div id="gameContainer" style="width: 100%; height: 100%"></div>
                    </data-box>
                </data-box>
            </div>

            <div class="main-center">
<!--                <data-box :title="'动作参数展示区'" :dheight="300">-->
<!--                    <el-card class="box-card">-->
<!--                        <div v-for="item in selectedMove.motionList">-->
<!--                            <img :src="item.motionImage" height="100%">-->
<!--                            <div class="text item">-->
<!--                                弯曲角度：{{item.rotateAngle}}-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </el-card>-->
<!--                </data-box>-->
                <data-box :title="'实时估计画面'" :dheight="720">
                        <img id="targetImg" height="100%" width="100%" v-if="targetImageVisible"/>
                        <video style="width: 100%; height: 100%; z-index: -10; position: absolute;left: 0; top: 0; object-fit: fill"  autoplay></video>
                </data-box>
                <data-box :title="''" :dheight="250" style="margin-top: 10px">
                    <data-box :title="'当前评分情况'" :dheight="250" :boxb="false" style="width: 30%; float: left; text-align: center">
                        <ve-gauge height="100%" :data="charts.trainingScore.data" :settings="charts.trainingScore.settings"></ve-gauge>
                    </data-box>
                    <data-box :title="'损伤风险'" :dheight="250" :boxb="false" style="width: 30%; float: left; text-align: center">
                        <ve-gauge height="100%" :data="charts.injuryRisk.data" :settings="charts.injuryRisk.settings"></ve-gauge>
                    </data-box>
                    <data-box :title="'关节角速度曲线'" :dheight="250" :boxb="false" style="width: 40%; float: left; text-align: center">
<!--                        <ve-radar :data="charts.cosineSimilarity.data" :extend="charts.cosineSimilarity.extend" :legend-visible="false" height="100%"></ve-radar>-->
                        <ve-line height="100%" :extend="charts.velocity.extend" :data="charts.velocity.data"></ve-line>
                    </data-box>
                </data-box>
            </div>

            <div class="main-right">
                <data-box :title="''" :dheight="980">
                    <data-box :title="'控制面板'" :dheight="100" :boxb="false">
                        <div style="margin-top: 5px;margin-left: 10px">
                            <el-button type="success" @click="drawer.isActive = true"><span>选择训练计划</span></el-button>
                            <el-button :type="switchButton.buttonType" @click="switchState" :disabled="switchButton.disable">
                                <span v-if="switchButton.state">结束训练</span>
                                <span v-if="!switchButton.state">开始训练</span>
                            </el-button>
                        </div>
                    </data-box>
                    <data-box :title="'训练指导建议'" :dheight="230" :boxb="false">
                        <div style="color: white; margin-left: 10px; margin-right: 10px;font-size: 20px">
                            <div>所选训练动作：<span style="font-weight: bold">{{selectedMove.movetypeName}}</span></div>
                            <div>需要进行<span style="font-weight: bold">{{selectedMove.groupsPerRepeat}}</span>组，
                                每组<span style="font-weight: bold">{{selectedMove.timesPerGroup}}</span>次，
                                每组间隔<span style="font-weight: bold">{{selectedMove.restBetweenGroup}}</span>s</div>
                            <div v-if="trainingAdvice.isActive">
                                <div>当前正在进行第<span style="font-weight: bold">{{trainingAdvice.currentGroup}}</span>组，
                                    已完成了<span style="font-weight: bold">{{trainingAdvice.finishedTime}}</span>次</div>
                                <br>
                                <el-alert :type="trainingAdvice.hintWords.type" :closable="false" show-icon>
                                    <span style="font-size: 35px; font-weight: bold">{{trainingAdvice.hintWords.title}}</span>
                                </el-alert>
<!--                                <div style="font-weight: bold">请做好准备动作 {{trainingAdvice.currentMotionState}}</div>-->
                            </div>
                        </div>
                    </data-box>

                    <data-box :title="'标准动作视频'" :dheight="300" :boxb="false">
                        <video ref='video' id="originalVideo" controls preload="auto" width="100%" height="100%">
                            <source type="video/mp4">
                        </video>
                    </data-box>
                    <data-box :title="'肢体波动曲线'" :dheight="300" :boxb="false">
                        <ve-line height="100%" :extend="charts.bodyFluctuate.extend" :data="charts.bodyFluctuate.data"></ve-line>
                    </data-box>
                </data-box>

                <el-dialog title="提示"
                        :before-close="handelPreGroupDialogClose"
                        :visible.sync="trainingAdvice.perGroupDialog"
                        width="30%">
                    <h2>单组训练已完成，请休息一下</h2>
                    <h2>倒计时：{{trainingAdvice.time}}</h2>
                </el-dialog>
            </div>
        </div>
    </div>

    <!--    训练计划选择抽屉-->
    <el-drawer :visible.sync="drawer.isActive" direction="rtl">
        <h3 style="margin-left: 10%; font-weight: bold">训练计划选择菜单</h3>
        <el-select v-model="trainingId" placeholder="选择用户训练计划" style="margin-left: 10%; margin-top: 10px">
            <el-option v-for="item in trainingList" :label="item.name" :value="item.trainingId"></el-option>
        </el-select>
        <div style="float: left; overflow: auto; height: 55%; margin-top: 10px" >
            <el-card class="box-card" v-for="item in training.moveList" style="width: 60%; margin-left: 10%; ">
                <el-radio v-model="selectedMoveId" :label="item.moveInstanceId"><span style="font-weight: bold; font-size: 20px">{{item.movetypeName}}</span></el-radio>
                <img :src="item.moveImage" style="width: 100%">
            </el-card>
        </div>
    </el-drawer>

    <el-dialog title="提示"
            :visible.sync="trainingAdvice.finishedDialog.visible"
            width="50%">
        <div style="margin-left: 10px;font-size: 20px">
            <div>用户：<span style="font-weight: bold">王小明</span>, 辛苦啦！</div>
            <div>您已完成 <span style="font-weight: bold">{{selectedMove.movetypeName}}</span> 的训练</div>
            <div>运动耗时：<span style="font-weight: bold">{{trainingAdvice.finishedDialog.countTime}}</span></div>
            <div>综合动作完成评分：<span style="font-weight: bold">{{trainingAdvice.finishedDialog.averageScore}}</span></div>
            <div style="height: 20%">
                <div>分次得分情况统计：</div>
                <ve-line :data="charts.finishedDialog.line.data"></ve-line>
            </div>

            <div>
                <span>请对您的运动感受进行评价：</span>
                <el-rate v-model="trainingAdvice.finishedDialog.rateBar.value"></el-rate>
            </div>
        </div>

        <span slot="footer" class="dialog-footer">
<!--            <el-button @click="dialogVisible = false">取 消</el-button>-->
            <el-button type="primary" @click="trainingAdvice.finishedDialog.visible = false">确 定</el-button>
        </span>
    </el-dialog>
</div>

<script type="text/javascript" th:inline="javascript">

    var destination, login, passcode, userToken; //两个destination分别是2D和3D的input
    url = "ws://10.103.238.165:61614";
    // destination = "/queue/poseRawInput";
    destination = "/topic/ImageRawInput";
    login = "admin";
    passcode = "password";
    userToken = "40";

    // var pointMapping = { //关节点映射表，由于识别关节点和Unity关节点不同，因此需要进行转换
    //     "0": 10,
    //     "1": 8,
    //     "2": 14,
    //     "3": 15,
    //     "4": 16,
    //     "5": 11,
    //     "6": 12,
    //     "7": 13,
    //     "8": 1,
    //     "9": 2,
    //     "10": 3,
    //     "11": 4,
    //     "12": 5,
    //     "13": 6
    // };

    // const moveStateMapping = {
    //     0:"准备阶段，请摆出准备姿态",
    //     1:"运动阶段，请开始运动达到预期姿态",
    //     2:"保持阶段，请保持该姿态",
    //     3:"恢复阶段，请恢复到准备姿态",
    //     4:"单次动作训练完成！",
    // };

    //训练提示语句模板
    const hintWordMode = [{
        title:'请跟随视频运动',
        type:'info'
    },{
        title:'请做好准备动作',
        type:'warning'
    },{
        title:'动作匹配成功',
        type:'success'
    },{
        title:'动作匹配失败',
        type:'error'
    }];

    var client = Stomp.client(url);

    var stompOnMessage2D = function (message) {
        let jsonData = JSON.parse(message.body); //接收数据JSON示例：{'image':'', 'poseResultParsed':''}

        //解析坐标数据
        if (jsonData.poseResult) {
            exercise.singlePoseData = JSON.parse(jsonData.poseResult); //单帧二维坐标数据
            // let poseArray = JSON.parse(jsonData.poseResult); //单帧二维坐标数据
            // exercise.singlePoseData = poseArray[0]; //更新singlePoseData示例：{0: {x: 1, y:2, confidence:3}}
        }

        //解析图像
        if(jsonData.image){
            if(exercise.targetImageVisible){
                let img = document.getElementById("targetImg");
                img.src = jsonData.image;
            }

        }

        //解析运动状态信息 TODO
        // if(jsonData.moveStage){
        //     let moveStage = parseInt(jsonData.moveStage);
        //     console.log("服务器传来的运动状态标记：" + moveStage);
        //     exercise.trainingAdvice.currentMotionState = moveStateMapping[moveStage];
        //     exercise.trainingAdvice.number = moveStage;
        // }
    };

    var stompOnMessage3D = function (message) {
        if (message.body) { //数据不为空
            exercise.singlePoseDataForUnity = message.body;
        }
    };

    var stompOnMessageMatching = function (message) {
        exercise.matchingFeedBack = message.body; //接收并写入匹配结果
    };

    var stompOnMessageVelocity = function (message) { //收到速度信息时的回调函数
        let json = JSON.parse(message.body);
        debugger;
        let point = {
            'time': $('#runner').runner('info').formattedTime,
            'left elbow': json.UL,
            'left knee': json.LL,
            'right elbow': json.UR,
            'right knee': json.LR
        };
        exercise.charts.velocity.data.rows.shift(); //删除第一个元素
        exercise.charts.velocity.data.rows.push(point); //将新数据加入末尾
    };

    var stompOnError = function (error) {
        alert(error);
        console.log("Stomp连接出错！" + error);
    };

    // the client is notified when it is connected to the server.
    client.connect(login, passcode, function (frame) {
        client.subscribe("/user/" + userToken + "/realTime2DOutput", stompOnMessage2D);
        client.subscribe("/user/" + userToken + "/realTime3DOutput", stompOnMessage3D);
        client.subscribe("/user/" + userToken + "/matchingOutput", stompOnMessageMatching);
        client.subscribe("/user/" + userToken + "/velocityOutput", stompOnMessageVelocity);
    }, stompOnError);


    var exercise = new Vue({
        el:'#exercise',
        data:{
            singlePoseData:'',
            singlePoseDataForUnity:'',
            targetImageVisible:false, //回传的2D姿态图是否可见
            unity:{
                gameInstance:'',
                isActive: false
            },
            restTimer:'', //控制休息倒计时器
            imageTransTimer:'', //控制图像传输定时器
            trainingList:[], //该用户的所有训练计划
            trainingId:'', //用户选择的训练计划ID
            training:{}, //用户选择的训练计划
            selectedMoveId:'', //用户选择的动作ID
            selectedMove:{
                movetypeName:'', //动作名称
                moveInstanceId:'', //动作ID
                groupsPerRepeat:'', //重复几组
                timesPerGroup:'', //每组重复几次
                restBetweenGroup:'' //每组间休息时间
            }, //用户选择的动作
            switchButton:{ //开始（停止）训练按钮
                disable:false,  //是否可用
                state:false, //训练状态：开启/停止
                buttonType:'success',
            },
            trainingAdvice:{
                isActive: false, //是否可见，训练未开始时不可见
                currentGroup:'', //当前第几组
                finishedTime:'', //已完成了多少次
                currentMotionState: '', //当前运动状态（提示语句）
                number: 0, //当前运动状态（数字）
                perGroupDialog: false, //单组训练完成时的对话框显示
                time:'', //剩余休息时间（用于倒计时）
                currentScore: 0, //当前运动评分，初始为0分
                historyScoreList:[], //历史得分记录列表
                hintWords: hintWordMode[1], //训练提示语句，默认是准备状态
                finishedDialog:{//训练完成后对话框
                    visible:false,
                    countTime:'',
                    averageScore:'',
                    rateBar:{  //评价栏
                        value: null,
                    }
                }
            },
            matchingFeedBack:{
            },
            maxVelocity:[0,0,0,0], //四关节点的最大速度
            drawer:{  //训练计划选择抽屉
                isActive: false,
            },
            charts:{
                completeStatus:{
                    data:{
                        columns: ['完成状态', '次数'],
                        rows: [
                            { '完成状态': '标准', '次数': 0 },
                            { '完成状态': '尚可', '次数': 0 },
                            { '完成状态': '不合格', '次数': 0 }
                        ]
                    },
                    extend:{
                        legend: {
                            textStyle: {color: '#fff'},
                        },
                        grid: {
                            textStyle: {
                                color: "#fff"
                            },
                            height:190
                        },
                        xAxis: {
                            axisLine: {
                                lineStyle: {
                                    color: '#fff'
                                }
                            }
                        },
                        yAxis: {
                            axisLine: {
                                lineStyle: {
                                    color: '#fff'
                                }
                            }
                        }

                    }
                },
                cosineSimilarity:{
                    data:{
                        columns: ['名称', '左大臂-小臂','右大臂-小臂','左胯-大腿','右胯-大腿','左大腿-小腿','右大腿-小腿'],
                        rows: [
                            { '名称':'余弦相似度', '左大臂-小臂': 97, '右大臂-小臂': 50, '左胯-大腿': 60,'右胯-大腿': 70, '左大腿-小腿': 80, '右大腿-小腿': 91},
                        ]
                    },
                    extend:{
                        radar:{
                            radius: "60%"
                        },
                        indicator: [
                            { name: '左大臂-小臂', max: 100 },
                            { name: '右大臂-小臂', max: 100 },
                            { name: '左胯-大腿', max: 100 },
                            { name: '右胯-大腿', max: 100 },
                            { name: '左大腿-小腿', max: 100 },
                            { name: '右大腿-小腿', max: 100 }
                        ],
                    }
                },
                bodyFluctuate:{
                    data:{
                        columns: ['time', 'leftShoulder', 'rightShoulder', 'leftLeg', 'rightLeg'],
                        rows: new Array(20)
                    },
                    extend: {
                        legend: {
                            textStyle: {color: '#fff'},
                        },
                        grid: {
                            textStyle: {
                                color: "#fff"
                            },
                            height:125
                        },
                        xAxis: {
                            axisLine: {
                                lineStyle: {
                                    color: '#fff'
                                }
                            }
                        },
                        yAxis: {
                            axisLine: {
                                lineStyle: {
                                    color: '#fff'
                                }
                            }
                        }
                    },
                },
                velocity:{ //关节角速度曲线
                    data:{
                        columns: ['time', 'left elbow', 'left knee', 'right elbow', 'right knee'],
                        rows: new Array(10)
                    },
                    extend: {
                        legend: {
                            textStyle: {color: '#fff'},
                        },
                        grid: {
                            textStyle: {
                                color: "#fff"
                            },
                            height:125
                        },
                        xAxis: {
                            axisLine: {
                                lineStyle: {
                                    color: '#fff'
                                }
                            }
                        },
                        yAxis: {
                            axisLine: {
                                lineStyle: {
                                    color: '#fff'
                                }
                            }
                        }
                    },
                },
                trainingScore:{
                    data:{
                        columns: ['type', 'value'],
                        rows: [
                            { type: '当前评分情况', value: 0}
                        ]
                    },
                    settings:{
                        seriesMap:{
                            '当前评分情况':{
                                center:["50%", "50%"],
                                radius:"100%",
                                axisLine: {
                                    show: true,
                                    lineStyle: { // 属性lineStyle控制线条样式
                                        color: [ //表盘颜色
                                            [ 0.5, "#DA462C" ],//0-50%处的颜色
                                            [ 0.7, "#FF9618" ],//51%-70%处的颜色
                                            [ 0.9, "#FFED44" ],//70%-90%处的颜色
                                            [ 1, "#20AE51" ]//90%-100%处的颜色
                                        ],
                                        shadowColor: '#fff',
                                        hadowBlur: 10
                                    }
                                }
                            }
                        }
                    }
                },
                injuryRisk:{
                    data:{
                        columns: ['type', 'value'],
                        rows: [
                            { type: '损伤风险', value: 0}
                        ]
                    },
                    settings:{
                        seriesMap:{
                            '损伤风险':{
                                min:0,
                                max:80,
                                center:["50%", "50%"],
                                radius:"100%",
                                axisLine: {
                                    show: true,
                                    lineStyle: { // 属性lineStyle控制线条样式
                                        color: [ //表盘颜色
                                            [ 0.5, "#20AE51" ],//0-50%处的颜色
                                            [ 0.7, "#FFED44" ],//51%-70%处的颜色
                                            [ 0.9, "#FF9618" ],//70%-90%处的颜色
                                            [ 1, "#DA462C"]//90%-100%处的颜色
                                        ],
                                        shadowColor: '#fff',
                                        hadowBlur: 10
                                    }
                                }
                            }
                        }
                    }
                },
                finishedDialog:{
                    line:{
                        data: {
                            columns: ['次序', '动作评分'],
                            rows: []
                        }
                    }
                }
            },
        },
        mounted: function(){
            this.initTrainRunner();
            this.initUnity();
            this.getTrainingPlan(); //从后台拉取训练计划
            this.initCamera(); //初始化摄像头
        },
        computed:{
            getFinishedTime:function () { //获取当前动作完成的次数
                return this.trainingAdvice.finishedTime;
            },
            getCurrentGroup: function () { //获取当前正在进行第几组训练
                return this.trainingAdvice.currentGroup;
            },
            getNumber:function () { //获取当前运动阶段
                return this.trainingAdvice.number;
            },
            getCurrentScore:function () { //获取当前评分
                return this.trainingAdvice.currentScore;
            },
            getHistoryScoreList:function(){
                return this.trainingAdvice.historyScoreList;
            },
            getSwitchButtonState:function () { //获取图像传输按钮的状态
                return this.switchButton.state;
            }
        },
        watch:{
            trainingId: function (newVal) { //筛选出符合条件的训练计划
                this.training = this.trainingList.filter(function (item) {
                     return item.trainingId === newVal;
                })[0];
            },
            selectedMoveId: function(newVal) { //监听用户选择的动作
                let _this = this;
                _this.selectedMove = this.training.moveList.filter(function(item){
                    return item.moveInstanceId === newVal;
                })[0];
                _this.$refs.video.src = '/VisionPlatform_web/video/StandardAction/'+ newVal + '.mp4'; //动态加载标准视频
                // client.send(destination, {'userToken': userToken, "dataType": "prepare", "poseID": newVal}, "Pubilish PoseID"); //发送消息 TODO
            },
            getFinishedTime: function (newVal) { //监听当前完成动作的次数
                if(newVal >= this.selectedMove.timesPerGroup){
                    this.trainingAdvice.currentGroup ++;
                    this.trainingAdvice.finishedTime = 0;
                }
            },
            getCurrentGroup: function (newVal) { //监听当前所进行的训练的组序
                if(newVal > this.selectedMove.groupsPerRepeat){
                    this.finishedTraining();
                }else if (newVal >= 2){
                    this.finishedSingleGroup();
                }
            },
            getCurrentScore:function(newVal){ //监听当前分数，驱动分数仪表盘更新
                let _this = this;
                _this.charts.trainingScore.data.rows[0].value = newVal;
            },
            getHistoryScoreList:function(newVal){
                let _this = this;
                if(newVal.length !== 0){ //数组非空
                    let currentScore = newVal[newVal.length - 1];
                    _this.trainingAdvice.currentScore = currentScore; //更新当前分数
                    if(currentScore >= 80){
                        _this.charts.completeStatus.data.rows[0]['次数'] ++;  //“尚可”动作区间
                    }else if(currentScore >= 60){
                        _this.charts.completeStatus.data.rows[1]['次数'] ++;  //“标准”动作区间
                    }else{
                        _this.charts.completeStatus.data.rows[2]['次数'] ++;  //“不合格”动作区间
                    }
                }else{ //如果历史分数被清空则分数记录也清零
                    _this.charts.completeStatus.data.rows =
                        [{ '完成状态': '标准', '次数': 0 },
                         { '完成状态': '尚可', '次数': 0 },
                         { '完成状态': '不合格', '次数': 0 }]
                }

            },
            singlePoseData: function (newVal, oldVal) { //监听姿态数据更新，驱动上肢/下肢变化曲线更新
                let _this = this;
                if(typeof newVal[3]!="undefined" && typeof newVal[6]!="undefined" && typeof newVal[8]!="undefined" && typeof newVal[11]!="undefined"){ //上肢更新
                    let bodyFluctuate = {
                        "time": $('#runner').runner('info').formattedTime, //TODO
                        "leftShoulder": newVal[3].y,
                        "rightShoulder": newVal[6].y,
                        "leftLeg": newVal[8].y,
                        "rightLeg": newVal[11].y
                    };
                    _this.charts.bodyFluctuate.data.rows.shift(); //删除第一个元素
                    _this.charts.bodyFluctuate.data.rows.push(bodyFluctuate); //将新数据加入末尾
                    if(typeof oldVal[3]!="undefined" && typeof oldVal[6]!="undefined" && typeof oldVal[8]!="undefined" && typeof oldVal[11]!="undefined"){
                        let velocities = [Math.abs(newVal[3] - oldVal[3]), Math.abs(newVal[6] - oldVal[6]), Math.abs(newVal[8] - oldVal[8]), Math.abs(newVal[11] - oldVal[11])];
                        for(let index in velocities){
                            _this.maxVelocity[index] = Math.max(velocities[index], _this.maxVelocity[index]);
                        }
                    }
                }
                _this.unity.isActive = typeof newVal[9]!= "undefined" && typeof newVal[12]!= "undefined" && typeof newVal[3]!= "undefined" && typeof newVal[6]!= "undefined"; //如果9、12、3、6都存在的情况下，激活Unity的更新
            },
            maxVelocity: function(newVal){ //监听最大值变动，评估损伤风险
                let _this = this;
                for(let item in newVal){
                    if(item > 0.5){ //TODO
                        _this.charts.injuryRisk.data.rows[0].value =+ 5; //每当最大速度超限，损伤风险增加5%
                    }
                }
            },
            singlePoseDataForUnity: function(newVal){
                // if(this.unity.isActive){ //仅当激活状态下才能发送
                    exercise.unity.gameInstance.SendMessage("EmptyObject", "RealTime3DOnMessage", newVal); //调用Unity内部方法，将姿态数据传入
                // }
            },
            // getNumber:function (oldValue, newValue) { //监听暴力匹配算法反馈回来的运动阶段信息，暂不使用
            //     let _this = this;
            //     console.log(newValue);
            //     if(oldValue !== newValue + 1){ //发生中断时间即刻输出当前分数
            //         console.log("Pause!")
            //         _this.charts.trainingScore.data.rows[0].value = _this.getCurrentScore;
            //         if(_this.getCurrentScore === 100){
            //             _this.charts.completeStatus.data.rows[0]['次数'] ++;
            //             _this.trainingAdvice.finishedTime ++; //动作已完成次数加一
            //         }else if (_this.getCurrentScore === 75){
            //             _this.charts.completeStatus.data.rows[1]['次数'] ++;
            //             _this.trainingAdvice.finishedTime ++; //动作已完成次数加一
            //         }else {
            //             _this.charts.completeStatus.data.rows[2]['次数'] ++;
            //             _this.charts.injuryRisk.data.rows[0].value =+ 5; //每当不合格次数出现一次，损伤风险增加5%
            //         }
            //         _this.trainingAdvice.score = 0; //归零
            //     }else{
            //         console.log("+25")
            //         _this.trainingAdvice.score = _this.trainingAdvice.score + 25 ;
            //     }
            // },
            getSwitchButtonState:function(newVal){ //监听传输按钮的状态
                let _this = this;
                if(newVal){ //激活图像传输
                    _this.switchButton.buttonType = 'danger'; //按钮状态变更：红色“停止训练”
                    _this.targetImageVisible = true; //回传标注图像可见
                    $('#runner').runner('start'); //计时器开始计时
                    _this.imageTransTimer = setInterval(function(){
                        _this.transImage(document.querySelector('video'));
                    }, 50); //50ms发送一次

                }else{
                    _this.switchButton.buttonType = 'success'; //按钮状态变更：绿色“开始训练”
                    $('#runner').runner('stop'); //计时器停止计时
                    clearInterval(_this.imageTransTimer); //停止图像传输
                    _this.targetImageVisible = false; //回传标注图像可见
                }
            },
            matchingFeedBack: function (newVal) { //监听DTW匹配算法反馈的结果
                let _this = this;
                let jsonResult = JSON.parse(newVal);
                debugger;
                if(typeof jsonResult.prepareFinished != "undefined"){
                    if(jsonResult.prepareFinished){
                        _this.switchButton.disable = false; //解除开始训练限制
                    }
                }else if(typeof jsonResult.state != "undefined"){
                    let state = jsonResult.state;
                    let score =  jsonResult.score; //解析得分情况
                    let myPlayer = document.getElementById('originalVideo');
                    _this.trainingAdvice.hintWords = hintWordMode[state]; //填充提示语句
                    switch (state) {
                        case 0: //0代表做好准备动作，接下来开始运动
                            // console.log("Starting...");
                            myPlayer.play();
                            break;
                        case 1: //1代表没有做好准备动作
                            // console.log("Waiting for preparation.");
                            myPlayer.pause();
                            break;
                        case 2: //2代表匹配通过，并且有分数信息
                            // console.log("Matching passed!");
                            client.send(destination, {'userToken': userToken, "dataType": "end"}, "Stop Parsing"); //匹配成功时向算法发送结束此轮接收
                            _this.trainingAdvice.historyScoreList.push(score); //分数录入历史
                            _this.trainingAdvice.finishedTime ++; //动作已完成次数加一
                            myPlayer.pause();
                            // _this.switchButton.state = false; //停止图像传输
                            // setTimeout(function () {
                            //     _this.switchButton.state = true;
                            // }, 3000); //停止数秒后恢复传输，方便用户跟踪结果/算法侧有反应时间
                            break;
                        case 3: //3代表匹配失败
                            // console.log("Matching failed.");
                            client.send(destination, {'userToken': userToken, "dataType": "end"}, "Stop Parsing"); //匹配失败时向算法发送结束此轮接收
                            _this.trainingAdvice.historyScoreList.push(score); //分数录入历史
                            myPlayer.pause();
                        // _this.switchButton.state = false; //停止图像传输
                        // setTimeout(function () {
                        //     _this.switchButton.state = true;
                        // }, 3000); //停止数秒后恢复传输
                    }
                }

            }
        },
        methods:{
            initUnity:function(){ //Unity初始化
                let unityUrl = /*[[@{/webGL/NewPoseV3/Loader/NewPoseV3.json}]]*/ 'Sebastian';
                this.unity.gameInstance = UnityLoader.instantiate("gameContainer", unityUrl, {onProgress: UnityProgress});
                // let unityUrl = /*[[@{/webGL/Demo/Loader/Demo.json}]]*/ 'Sebastian';
                // this.unity.gameInstance = UnityLoader.instantiate("gameContainer", unityUrl, {onProgress: UnityProgress});
            },
            initTrainRunner:function(){ //训练用时计时器初始化
                $('#runner').runner({  //计时器
                    autostart: false, //是否自动开始
                    milliseconds: false,  //是否显示毫秒表
                    format: function millisecondsToString(milliseconds) {
                        var oneHour = 3600000;
                        var oneMinute = 60000;
                        var oneSecond = 1000;
                        var seconds = 0;
                        var minutes = 0;
                        var hours = 0;
                        var result;

                        if (milliseconds >= oneHour) {
                            hours = Math.floor(milliseconds / oneHour);
                        }

                        milliseconds = hours > 0 ? (milliseconds - hours * oneHour) : milliseconds;

                        if (milliseconds >= oneMinute) {
                            minutes = Math.floor(milliseconds / oneMinute);
                        }

                        milliseconds = minutes > 0 ? (milliseconds - minutes * oneMinute) : milliseconds;

                        if (milliseconds >= oneSecond) {
                            seconds = Math.floor(milliseconds / oneSecond);
                        }

                        milliseconds = seconds > 0 ? (milliseconds - seconds * oneSecond) : milliseconds;

                        if (hours > 0) {
                            result = (hours > 9 ? hours : "0" + hours) + ":";
                        } else {
                            result = "00:";
                        }

                        if (minutes > 0) {
                            result += (minutes > 9 ? minutes : "0" + minutes) + ":";
                        } else {
                            result += "00:";
                        }

                        if (seconds > 0) {
                            result += (seconds > 9 ? seconds : "0" + seconds);
                        } else {
                            result += "00";
                        }

                        return result;
                    }
                });
            },
            getTrainingPlan:function(){ //拉取该用户的所有训练计划
                let _this = this;
                let postUrl = /*[[@{/api/getTrainingFromJson}]]*/ 'Sebastian';
                $.ajax({
                    url: postUrl,
                    dataType: 'json',
                    contentType : 'application/json',
                    data: JSON.stringify({
                        userId: 40
                    }),
                    type: 'POST',
                    success: function (data) {
                        _this.trainingList = data.trainingList;
                    },
                    error: function () {
                        console.log("用户训练计划拉取失败！")
                    }
                });
            },
            initCamera:function(){
                let _this = this;
                let constraints = { video: true };
                let video = document.querySelector('video');
                navigator.mediaDevices.getUserMedia(constraints)
                    .then(function(mediaStream) {
                        video.srcObject = mediaStream;
                    })
                    .catch(function(err) { console.log(err.name + ": " + err.message); }); // 总是在最后检查错误
            },
            transImage: function (video) {
                let _this = this;
                let canvas = document.createElement('canvas');
                canvas.width = video.videoWidth;
                canvas.height = video.videoHeight;
                canvas.getContext('2d').drawImage(video, 0, 0);
                let image = canvas.toDataURL('image/jpeg');
                if (image != null) {
                    client.send(destination, {'userToken': userToken, 'dataType':'transmitting'}, image); //发送消息
                }
            },
            switchState:function () { //按钮调用，用于开启或终止训练（切换状态）
                let _this = this;
                _this.trainingAdvice.isActive = !_this.switchButton.state; //训练建议可见性改变
                if(!_this.switchButton.state){ //从停止状态到开始状态，说明用户开启了新一轮的训练
                    $('#runner').runner('reset'); //计时器重置归零
                }
                _this.switchButton.state = !_this.switchButton.state;
                _this.trainingAdvice.currentGroup = 1;
                _this.trainingAdvice.finishedTime = 0;

            },
            finishedSingleGroup: function() { //完成一组训练时的回调函数
                let _this = this;
                _this.trainingAdvice.time = _this.selectedMove.restBetweenGroup;
                _this.trainingAdvice.perGroupDialog = true; //弹出对话框提示
                _this.switchButton.state = false; //停止传输
                _this.restTimer = setInterval(function() {
                    if(_this.trainingAdvice.time > 0){
                        _this.trainingAdvice.time --;
                    }else{ //倒计时结束
                       _this.handelPreGroupDialogClose();
                    }
                }, 1000); //倒计时，每秒执行一次
            },
            handelPreGroupDialogClose:function(){ //处理完成每组训练休息对话框提前关闭的情况
                let _this = this;
                _this.trainingAdvice.perGroupDialog = false; //关闭对话框提示
                clearInterval(_this.restTimer);
                _this.switchButton.state = true; //重新开启图像传输
            },
            finishedTraining:function () { //完成全部训练时的回调函数
                let _this = this;
                _this.switchButton.state = false;
                _this.trainingAdvice.isActive = false; //训练建议不可见
                _this.$notify({
                    title: '辛苦了！',
                    message: '此动作训练到此结束',
                    type: 'success'
                });
                _this.showFinishedDialog(); //显示用户训练信息
            },
            showFinishedDialog:function () { //训练完成时显示对话框
                let _this = this;
                _this.trainingAdvice.countTime = $('#runner').runner('info').formattedTime;
                let sum = 0;
                let length = _this.trainingAdvice.historyScoreList.length;
                _this.charts.finishedDialog.line.data.rows = [];
                for(let i = 0; i < length; i++){
                    let singleScore = _this.trainingAdvice.historyScoreList[i];
                    sum = sum + singleScore;
                    _this.charts.finishedDialog.line.data.rows.push({"次序": (i + 1).toString(), "动作评分": singleScore})
                }
                _this.trainingAdvice.finishedDialog.averageScore = sum/length;
                _this.trainingAdvice.historyScoreList = []; //历史分数清空
                _this.maxVelocity = [0, 0, 0, 0]; //最大速度记录重置
                _this.charts.injuryRisk.data.rows[0].value = 0; //损伤风险归零
                _this.trainingAdvice.finishedDialog.visible = true;
            }
        },
        components:{
            dataBox:DataBox,
            dataBoard: DataBoard, //用于健身指导的数据面板（左）
            record:Record, //用于动画舞蹈的录制面板（左）
            exeIntro:ExeIntro, //健身指导介绍（底部）
            danceIntro: DanceIntro //动画舞蹈介绍（底部）
        }
    })
</script>
</body>
</html>
