<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>行为检测平台</title>
    <link rel="shortcut icon" th:href="@{/webGL/TemplateData/favicon.ico}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script><!-- 引入vue框架 -->
    <!--<script src="https://cdn.WebRTC-Experiment.com/RecordRTC.js"></script>-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script><!-- 引入element组件库 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"><!-- 引入element样式 -->
    <script th:src="@{/js/common/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/common/jquery.runner.js}"></script> <!-- jquery计时器插件 -->
<!--    <script th:src="@{/webGL/Demo/TemplateData/UnityProgress.js}"></script>-->
<!--    <script th:src="@{/webGL/Demo/Loader/UnityLoader.js}"></script>-->
    <link rel="stylesheet" th:href="@{/webGL/Demo/TemplateData/style.css}">
    <!--    <script th:src="@{/webGL/Receiver2D/TemplateData/UnityProgress.js}"></script>-->
    <!--    <script th:src="@{/webGL/Receiver2D/Loader/UnityLoader.js}"></script>-->
    <!--    <link rel="stylesheet" th:href="@{/webGL/Receiver2D/TemplateData/style.css}">-->

    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script><!--引入echarts组件-->
    <script src="https://cdn.jsdelivr.net/npm/v-charts/lib/index.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/v-charts/lib/style.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/global.scss}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script type="text/javascript" th:src="@{/js/common/stomp.js}"></script>
    <script th:src="@{/js/components/DataBox.js}"></script><!-- 引入DataBox组件 -->
    <script th:src="@{/js/components/Common.js}"></script><!-- 引入组件 -->
    <script th:src="@{/js/components/Exercise.js}"></script><!-- 用于健身指导功能的全部组件 -->
    <script th:src="@{/js/components/Dance.js}"></script><!-- 用于动画舞蹈的全部组件 -->
</head>
<style th:inline="css">
    .header {
        width: 100%;
        height: 160px;
        padding: 0 20px;
    }
    .bg-header {
        width: 100%;
        height: 100%;
        background: url("[[@{/img/title.png}]]") no-repeat;
        background-size: 100% 100%;
    }
    .t-title {
        width: 100%;
        height: 50%;
        text-align: center;
        font-size: 2em;
        line-height: 80px;
        color: #fff;
    }
    .data-page{
        background: url("[[@{/img/background.png}]]") no-repeat;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 1250px;
        min-width: 1220px;
        background-size:100% 100%;
    }
    .data-content {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .data-main {
        width: calc(100% - 40px);
        margin-bottom: 40px;
        margin-left: 20px;
        height: 720px;}

    .main-left{
        width: 25%;
        float: left;
    }
    .main-center{
        float: left;
        width: 50%;
        padding: 0 20px 0 20px;
    }
    .main-right{
        float: left;
        width: 25%;
    }


</style>

<body>
<div class="data-page" id="app">
    <div class="header">
        <div class="bg-header">
            <div class="t-title">驾驶员疲劳及危险行为实时检测</div>
        </div>
    </div>

    <div class="data-content">
        <div class="data-main">
            <div class="main-left">
                <data-box :title="''" :dheight="980">
                    <data-box :title="'疲劳检测结果'" :dheight="490" :icon="'account'" :boxb="false">
                        <data-box :title="''" :dheight="300" :icon="'account'" :boxb="false">
                            <img id="targetImg" height="100%" width="100%"/>
                        </data-box>
                        <data-box :title="''" :dheight="190" :icon="'account'" :boxb="false">
                            <div style="color: white; margin-left: 10px; margin-right: 10px;font-size: 20px">
                                <div>实时眼部纵横比（EAR）：{{tiredDetectResult.EAR}}</div>
                                <div>当前疲劳概率：{{tiredDetectResult.closeRatio}}</div>
                                <el-alert :type="tiredDetectResult.alert.type" :closable="false" show-icon v-if="tiredDetectResult.alertVisible">
                                    <span style="font-size: 35px; font-weight: bold">{{tiredDetectResult.alert.title}}</span>
                                </el-alert>
                            </div>
                        </data-box>
                    </data-box>

                    <data-box :title="'危险行为检测结果'" :dheight="490" :icon="'account'" :boxb="false">
<!--                        <data-box :title="''" :dheight="300" :icon="'account'" :boxb="false">-->
<!--                            <img id="riskImg" height="100%" width="100%"/>-->
<!--                        </data-box>-->
                        <data-box :title="''" :dheight="190" :icon="'account'" :boxb="false">
                            <div style="color: white; margin-left: 10px; margin-right: 10px;font-size: 20px">
                                <div>当前驾驶员行为：{{behaviours[riskDetectResult.index]}}</div>
                                <div>推测概率：{{riskDetectResult.prob}}</div>
                                <el-alert :type="riskDetectResult.alert.type" :closable="false" show-icon v-if="riskDetectResult.alertVisible">
                                    <span style="font-size: 35px; font-weight: bold">{{riskDetectResult.alert.title}}</span>
                                </el-alert>
                            </div>
                        </data-box>
                    </data-box>
                </data-box>
            </div>

            <div class="main-center">
                <data-box :title="'主监控画面'" :dheight="720" :icon="'account'" :boxb="false">
<!--                    <img id="targetImg" height="100%" width="100%"/>-->
                    <video style="width: 100%; height: 100%; z-index: -10; position: absolute;left: 0; top: 0; object-fit: fill"  autoplay></video>
                </data-box>
            </div>

            <div class="main-right">
                <data-box :title="''" :dheight="980" :boxb="false">
                    <data-box :title="'控制面板'" :dheight="800" :blob="false">
                        <el-button :type="switchButton.buttonType" @click="switchState">
                            <span v-if="switchButton.state">关闭检测</span>
                            <span v-if="!switchButton.state">启动检测</span>
                        </el-button>
                    </data-box>
                </data-box>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">

    var url = "ws://10.103.238.165:61614";
    var destination = "/queue/riskBehaviourInput";
    var login = "admin";
    var passcode = "password";

    var client = Stomp.client(url);

    var stompOnMessage = function (message) {
        // console.log(message);

        let jsonData = JSON.parse(message.body);
        //解析图像
        if(jsonData.type === "risk"){ //危险行为部分
            app.riskDetectResult.index = jsonData.index;
            app.riskDetectResult.prob = jsonData.prob;
        } else if(jsonData.type === "tired"){ //疲劳部分
            if(jsonData.image){
                let img = document.getElementById("targetImg");
                img.src = jsonData.image;
            }
            if(jsonData.ear){
                app.tiredDetectResult.EAR = jsonData.ear;
            }
            if(jsonData.closeRatio){
                app.tiredDetectResult.closeRatio = jsonData.closeRatio;
            }
        }

    };

    var stompOnError = function (error) {
        alert(error);
        console.log("Stomp连接出错！" + error);
    };

    // // the client is notified when it is connected to the server.
    client.connect(login, passcode, function () {
        client.subscribe("/riskBehaviourOutput", stompOnMessage);
    }, stompOnError);

    const alertMode = [{
        title:'检测到驾驶员疲劳！请及时休息！',
        type:'warning'
    },{
        title:'未检测到驾驶员疲劳',
        type:'success'
    }];

    const riskAlertMode = [{
        title:'疑似检测到危险行为！',
        type:'error'
    },{
        title:'未检测到危险行为',
        type:'success'
    }];

    const app = new Vue({
        el:'#app',
        data:{
            imageTransTimer:'',
            switchButton:{ //开始（停止）训练按钮
                state:false, //训练状态：开启/停止
                buttonType:'success',
            },
            tiredDetectResult:{
                closeRatio:0,
                EAR:'',
                alert:alertMode[1],
                flashTimer:{
                    active:false, //定时器默认不激活
                    content:''
                }, //控制告警闪烁
                alertVisible:false //告警内容是否可见 TODO
            },
            riskDetectResult:{
                flag:0,
                alert:riskAlertMode[1],
                alertVisible:false,
                index:0,
                prob:''
            },
            behaviours:[
                '正常驾驶',
                '右手发短信',
                '右手打电话',
                '左手发短信',
                '左手打电话',
                '操控收音机',
                '喝水',
                '向后转身/坐姿不规范',
                '整理头发',
                '和乘客聊天'],

        },
        mounted: function(){
            this.initCamera(); //初始化摄像头
            // this.startTracking(); //开始手部跟踪
        },
        methods:{
            initCamera:function(){
                let _this = this;
                let constraints = { video: true };
                let video = document.querySelector('video');
                navigator.mediaDevices.getUserMedia(constraints)
                    .then(function(mediaStream) {
                        video.srcObject = mediaStream;
                    })
                    .catch(function(err) { console.log(err.name + ": " + err.message); }); // 总是在最后检查错误
            },
            transImage: function (video) {
                let _this = this;
                let canvas = document.createElement('canvas');
                canvas.width = video.videoWidth;
                canvas.height = video.videoHeight;
                canvas.getContext('2d').drawImage(video, 0, 0);
                let image = canvas.toDataURL('image/jpeg');
                if (image != null) {
                    client.send(destination, {}, image); //发送消息
                }
            },
            switchState:function () { //按钮调用，用于开启或终止训练（切换状态）
                let _this = this;
                _this.switchButton.state = !_this.switchButton.state;
                if(_this.switchButton.state){
                    _this.imageTransTimer = setInterval(function(){
                        _this.transImage(document.querySelector('video'));
                    }, 200); //100ms发送一次
                    _this.tiredDetectResult.alertVisible = true; //开启提示牌
                    _this.riskDetectResult.alertVisible = true; //开启提示牌
                    _this.tiredDetectResult.alert = alertMode[1]; //默认是正常状态
                    _this.riskDetectResult.alert = riskAlertMode[1]; //默认是正常状态
                }else{
                    clearInterval(_this.imageTransTimer); //停止图像传输
                    _this.tiredDetectResult.alertVisible = false; //关闭提示牌
                    _this.riskDetectResult.alertVisible = false;

                }

            },
        },
        computed:{
            getCloseRatio:function () {
                return this.tiredDetectResult.closeRatio;
            },
            getTimerState:function () { //获取得到定时器状态
                return this.tiredDetectResult.flashTimer.active;
            },
            getBehaviours:function () {
                return this.riskDetectResult.index;
            }
        },
        watch:{
            getCloseRatio:function (newVal, oldVal) {
                let _this = this;
                // console.log("NewVal:" + newVal + " Changed from:" + oldVal)
                if(newVal >= 0.4){
                    _this.tiredDetectResult.alert = alertMode[0]; //疲劳状态
                    _this.tiredDetectResult.flashTimer.active = true;
                }else{
                    if(oldVal >= 0.4){ //如果属于刚刚解除疲劳的状态
                        _this.tiredDetectResult.flashTimer.active = false;
                        _this.tiredDetectResult.alertVisible = true;
                        _this.tiredDetectResult.alert = alertMode[1]; //疲劳状态
                    }
                }
            },
            getTimerState:function (newVal) {
                let _this = this;
                if(newVal){
                    _this.tiredDetectResult.flashTimer.content = setInterval(function(){
                        _this.tiredDetectResult.alertVisible = !_this.tiredDetectResult.alertVisible;
                    }, 1000); //1s闪烁一次
                }else{
                    clearInterval(_this.tiredDetectResult.flashTimer.content); //停止闪烁
                }
            },
            getBehaviours:function (newVal) {
                let _this = this;
                if(newVal === 0){
                    _this.riskDetectResult.alert = riskAlertMode[1]; //正常状态
                }else{
                    _this.riskDetectResult.alert = riskAlertMode[0];
                }

            }
        },
        components:{
            dataBox:DataBox,
            dataBoard: DataBoard, //用于健身指导的数据面板（左）
            record:Record, //用于动画舞蹈的录制面板（左）
            exeIntro:ExeIntro, //健身指导介绍（底部）
            danceIntro: DanceIntro //动画舞蹈介绍（底部）
        }
    })
</script>
</body>
</html>
